@{
    Layout = "_Layout";
}

@model EmployeeDataViewModel
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.employee.Name</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/2.jpg" />
                <h4>EMployee ID : @Model.employee.ID</h4>
                <h4>Email : @Model.employee.Email</h4>
                <h4>Department : @Model.employee.Department</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="List" class="btn btn-danger">Test Tag Helper</a>
                <a href="#" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-info">Edit</a>
                <a href="#" class="btn btn-warning">Delete</a>
            </div>
        </div>
    </div>
</div>
